<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the EDIT RATING page</h1>
    <form action="{{ url_for('edit_rating') }} " method="POST">   
        <p>Book Name: {{ book.title }}</p>
        <p>Current Rating: {{ book.rating }}</p>
            <!-- This is a valuable way to access the object id property -->
            <input hidden="hidden" name="id" value="{{ book.id }}">
        <input name="rating" type="text" placeholder="New Rating">
        <button type="submit">Change Rating</button>
    </form>
    
</body>
</html>